<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div><img src="NORDICROSE.png" alt="" onclick="logo()"></div>
    
        <div>
            <nav>
                
                    <ul>
                        <%dataNav2.forEach(elt=>{%>
                        <li>
                            <a href='<%=elt.url%>'> <%=elt.name%> </a>
                        </li>
                        <%})%>
    
                    </ul>
        
            </nav>
        </div>
    </header>
    <section id="secone">
        <div><img src="image2.png" alt=""></div>
        <div>
            <h1>A few words about this blog platform, Ghost, and how this site was made</h1>
        </div>
    </section>

<section class="blogtext">
        <div>
 <img src="MaskGroup.png" alt="">
           

            <img src="Group5.png" alt="">

            <img src="Group4.png" alt="">

        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu velit tempus erat egestas efficitur. In hac habitasse platea dictumst. Fusce a nunc eget ligula suscipit finibus. Aenean pharetra quis lacus at viverra. 

            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam quis posuere ligula. In eu dui molestie, molestie lectus eu, semper lectus. 
            Duis eu velit tempus erat egestas efficitur. In hac habitasse platea dictumst. Fusce a nunc eget ligula suscipit finibus. Aenean pharetra quis lacus at viverra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 

            Morbi efficitur auctor metus, id mollis lorem pellentesque id. Nullam posuere maximus dui et fringilla. </p>
    </section>

    <section class="nextread">


        <%dataPic2.forEach(elt=>{%>
                
            <div class="articlepics">
            <img src='<%=elt.url%>' alt="">
        
            
            <a href=''><p><%=elt.title%></p> </a>
        </div>
        <%})%>
        
        </section>

    <footer>
        <nav>
           
            <ul>
                
        <li><a href=""></a>DIGITAL PRODUCT DESIGN</li>
        
        <li><a href=""></a>REMOTE WORK</li>
        
        <li><a href=""></a>UX DESIGN</li>
        
        <li><a href=""></a>DISTRUBUTED TEAM</li>
        
        <li><a href=""></a>CREATIVTY</li>
        
        <li><a href=""></a>STRATEGIE</li>
        
        <li><a href=""></a>SUSPENCE</li>
        
        <li><a href=""></a>GROWTH</li>
        
        </ul>
        </div>
        
            <H3>NORDIC ROSE</H3>
            <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Duis eu velit tempus erat egestas efficitur. 
                In hac habitasse platea dictumst.
                 Fusce a nunc eget ligula suscipit finibus. </P>
                <div class="socialmedia">
                    <ul><a href=""></a>Twitter</ul>
                    <ul><a href=""></a>LinkedIn</ul>
                    <ul><a href=""></a>RSS</ul>
                </div>
                <p> ® 2012-2020 Nordic Rose Co. <br>
                All rights reserved.</p>
        </footer>
        <script src="index2"></script>
</body>
</html>