<!-- <%dataPic.forEach(elt=>{%>
        
    <div class="articlepics">
    <img src='<%=elt.url%>' alt="">

    
    <a href='objectitem.ejc'><p><%=elt.title%></p> </a>
</div>
<%})%> -->

<h2>new</h2>

